<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1654792732.4193249</real>
	<key>UUID</key>
	<string>DA61B367-FBA4-4295-B6B6-889DAC327F0A</string>
</dict>
</plist>
